---
import Layout from "../../../layouts/Layout.astro";
---

<Layout
    title="Descubre París: Guía Definitiva de Sus Maravillas Ocultas y Atracciones Famosas | Guías de viaje 2024" description="Sumérgete en el corazón de París con nuestra guía de viajes exhaustiva. Desde la majestuosa Torre Eiffel hasta las joyas escondidas del Le Marais, explora los mejores sitios que París tiene para ofrecer. Consejos expertos, secretos locales y mucho más para tu aventura parisina"
>
    <main>
        <div
            class="w-full px-5 md:w-3/4 lg:w-2/5 md:mx-auto flex flex-col justify-start lg:gap-3 py-10"
        >
            <h1
                class="text-4xl md:text-5xl font-semibold font-title text-balance text-center"
            >
                Descubriendo la Magia de París: Una Mezcla de Clásico y Secreto
            </h1>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                Queridos viajeros y soñadores, mi última aventura me ha llevado
                a las calles empedradas, los rincones llenos de historia y los
                paisajes de ensueño de una ciudad que, por mucho que se escriba
                sobre ella, siempre tiene nuevas historias que contar. Sí, estoy
                hablando de París, la "Ciudad de la Luz", un lugar donde cada
                esquina parece un escenario listo para ser descubierto, y donde
                la belleza y el arte se respiran en el aire. Esta vez, quiero
                llevaros en un viaje a través de mi lente personal, mostrándoos
                los clásicos imprescindibles y algunos secretos escondidos que
                hacen de París un destino sin igual.
            </p>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                París, capital de Francia, es una ciudad vibrante que combina a
                la perfección historia, cultura, arte y modernidad. Es conocida
                por su arquitectura majestuosa, sus museos de talla mundial, su
                deliciosa gastronomía y su ambiente romántico incomparable.
            </p>
            <img
                src="/paris.webp"
                alt="Imagen de portada de la isla de Ibiza"
                class="h-auto md:w-full aspect-video"
            />
            <h2
                class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center py-8"
            >
                Los 6 Clásicos Imprescindibles de París:
            </h2>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    1. La Torre Eiffel
                </h3>
                <img
                    src="/paris/torre_eiffel.webp"
                    alt="Imagen de la Torre Eiffel"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    La dama de hierro, el ícono por excelencia de París. Subir a
                    sus pisos ofrece una vista panorámica incomparable de la
                    ciudad, especialmente al atardecer, cuando París se tiñe de
                    colores cálidos. Pero lo que más me fascina es su historia,
                    cómo pasó de ser criticada por muchos a convertirse en el
                    símbolo mundialmente amado de Francia.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    2. El Museo del Louvre
                </h3>
                <img
                    src="/paris/museo_louvre.webp"
                    alt="Imagen del Museo del Louvre"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Antigua residencia real y ahora el museo más grande del
                    mundo, el Louvre es una parada obligatoria. No solo por la
                    Mona Lisa o la Venus de Milo, sino por su vasta colección
                    que narra la historia humana a través del arte. Cada sala es
                    un viaje en el tiempo, un encuentro con la genialidad
                    humana.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    3. Catedral de Notre Dame
                </h3>
                <img
                    src="/paris/notredame.webp"
                    alt="Imagen de la Catedral de Notre Dame"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Aunque afectada por el fuego en 2019, Notre Dame sigue
                    siendo un espectáculo de arquitectura gótica. Pasear por su
                    exterior e imaginar las historias que ha visto pasar, desde
                    Victor Hugo hasta nuestros días, es evocador. La
                    reconstrucción promete devolverle su antigua gloria.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    4. Montmartre y la Basílica del Sagrado Corazón
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/paris/basilica_sagrado_corazon.webp"
                        alt="Imagen de la Basílica del Sagrado Corazón"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://commons.wikimedia.org/wiki/File:La_Basilica_del_sagrado_Coraz%C3%B3n_de_Montmartre.JPG"
                            >Dalmeidar</a
                        >, <a
                            href="https://creativecommons.org/licenses/by-sa/3.0"
                            >CC BY-SA 3.0</a
                        >, via Wikimedia Commons
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Este barrio artístico, con sus calles empinadas y su
                    ambiente bohemio, es el corazón de la París más romántica.
                    La Basílica del Sagrado Corazón, blanca e inmaculada, ofrece
                    no solo un refugio espiritual sino también una de las
                    mejores vistas de París.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    5. Los Campos Elíseos y el Arco del Triunfo
                </h3>

                <img
                    src="/paris/campos_eliseos.webp"
                    alt="Imagen de los Campos Elíseos y el Arco del Triunfo"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Pasear por esta majestuosa avenida es sentir el pulso de
                    París. Desde la Plaza de la Concordia hasta el Arco del
                    Triunfo, es una vía llena de historia, lujo y belleza, que
                    culmina con una vista impresionante desde la cima del Arco.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    6. El Sena y sus cruceros
                </h3>
                <img
                    src="/paris/rio_sena.webp"
                    alt="Imagen del río Sena y sus puentes"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    París desde el agua tiene una magia especial. Un crucero al
                    atardecer por el Sena, pasando bajo sus históricos puentes y
                    frente a sus emblemáticos monumentos, es una experiencia que
                    combina romance, historia y belleza.
                </p>
            </div>
            <h2
                class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center"
            >
                Los 4 Secretos Mejor Guardados de París:
            </h2>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    7. Las Catacumbas de París
                </h3>
                <img
                    src="/paris/catacumbas_paris.webp"
                    alt="Imagen de las Las Catacumbas de París"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Un mundo subterráneo fascinante, las Catacumbas albergan los
                    restos de millones de parisinos en un laberinto bajo la
                    ciudad. Es un sitio sombrío, pero increíblemente intrigante,
                    que ofrece una perspectiva completamente diferente de París.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    8. Le Marais y Place des Vosges
                </h3>
                <img
                    src="/paris/marais.webp"
                    alt="Imagen de Le Marais y Place des Vosges"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Le Marais, con sus boutiques, galerías de arte y la hermosa
                    Place des Vosges, es un distrito vibrante que combina a la
                    perfección lo antiguo y lo moderno. Es ideal para quienes
                    buscan una experiencia parisina más íntima.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    9. Canal Saint-Martin
                </h3>
                <img
                    src="/paris/canal_saint_martin.webp"
                    alt="Imagen del Canal Saint-Martin"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Este canal, menos conocido por los turistas, es perfecto
                    para un picnic o simplemente para disfrutar de un momento de
                    tranquilidad. Sus puentes y orillas verdes ofrecen un
                    escenario ideal para una tarde relajada.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    10. Parc des Buttes-Chaumont
                </h3>
                    <img
                        src="/paris/parc_buttes.webp"
                        alt="Imagen del Parc des Buttes-Chaumont"
                        class="h-auto w-full aspect-video"
                    />
                <p class="py-5 text-pretty text-lg font-body">
                    Uno de los parques más grandes y hermosos de París, pero
                    menos frecuentado por turistas. Con sus colinas, cascadas, y
                    vistas, es un oasis de paz y belleza natural, perfecto para
                    escapar del bullicio de la ciudad.
                </p>
                <h2
                    class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center pt-4 pb-2 border-t-2"
                >
                    Consejos útiles para tu viaje a París:
                </h2>
                <div class="text-pretty mx-auto">
                    <li class="text-pretty text-lg font-body">
                        Para evitar las multitudes, compra entradas con
                        antelación para las atracciones más populares
                    </li>
                    <li class="text-pretty text-lg font-body">
                        Aprovecha el transporte público, que es eficiente y
                        económico
                    </li>
                    <li class="text-pretty text-lg font-body">
                        No olvides probar la deliciosa gastronomía francesa,
                        desde cruasanes recién horneados hasta suculentos platos
                        gourmet
                    </li>
                    <li class="text-pretty text-lg font-body">
                        Recorre la ciudad a pie o en bicicleta para disfrutar de
                        su ritmo y ambiente
                    </li>
                </div>
                <p class="py-5 text-pretty text-lg font-body">
                    París es una ciudad que te atrapa y te seduce con su encanto
                    único. No importa si eres un apasionado del arte, un amante
                    de la historia o un simple buscador de experiencias, París
                    tiene algo para ti. Anímate a descubrirla y prepárate para
                    vivir una aventura inolvidable.
                </p>
                <p class="py-5 text-pretty text-lg font-body">
                    ¡Au revoir, París!
                </p>
            </div>
        </div>
    </main>
</Layout>
