---
import Layout from "../../layouts/Layout.astro";
import Latest_articles_en from "../../components/Latest_articles_en.astro";
import Trending_countries_en from "../../components/Trending_countries_en.astro";
---

<Layout
  title="Travel Guides: Discover the best destinations in the world | Wanderlusting 2024 Travel guides"
  description="Travel the world with our collection of comprehensive travel guides. Find information on the best places to visit, travel tips and recommendations on the best time of the year for each destination. Explore vibrant cities, paradisiacal beaches, breathtaking landscapes and much more. Plan your perfect trip with our travel guides and live unforgettable experiences."
>
  <main>
    <Latest_articles_en />
    <Trending_countries_en />
  </main>
</Layout>
