---
import Layout from "../../layouts/Layout.astro";
import Latest_articles_en from "../../components/Latest_articles_en.astro";
import Trending_countries_en from "../../components/Trending_countries_en.astro";
---

<Layout
  title="Welcome to your travel blog | Find travel guides for 2024"
  description="Uncover the hidden gems and cultural experiences of the world with our comprehensive travel guide. Explore and discover must-see attractions and plan your dream journey."
>
  <main>
    <Latest_articles_en />
    <Trending_countries_en />
  </main>
</Layout>
