---
import Layout from "../../../layouts/Layout.astro";
---

<Layout
    title="Barcelona guide for enjoying your holidays | Travel guides " 
    description="Wonder what to visit in Barcelona? Here is a list of the best places to visit during your vacation in this amazing and beautiful city. Among the most popular and amazing places to visit in Barcelona are the Sagrada Familia, Park Güell, Gothic Quarter, Barri Gotic, Barri Gòtic, Barceloneta Beach, La Rambla, Montjuïc, Montjuic, Poble Espanyol, Tibidabo, Casa Batlló and Picasso Museum. Enjoy your trip to Barcelona!"
>
    <main>
        <div
            class="w-full px-5 md:w-3/4 lg:w-2/5 md:mx-auto flex flex-col justify-start lg:gap-3 py-10"
        >
            <h1
                class="text-4xl md:text-5xl font-semibold font-title text-balance text-center"
            >
                Discover the most amazing places of Barcelona
            </h1>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                Barcelona is one of the most famous cities in the world, known almost 
                in every corner of the planet. You may know it for its beaches, 
                its architecture, its football team or its gastronomy.
                But Barcelona is much more than that. It is a city full of history, 
                traditions, art and culture.
            </p>
            <img
                src="/barcelona.webp"
                alt="Picture of Barcelona"
                class="h-auto md:w-full aspect-video"
            />
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                You may be wondering when is the best time to visit Barcelona, but it truly 
                depends on what you are looking for. Our recommendation is:
            </p>
            <div class="w-full text-md text-pretty font-body text-lg">
                <li class="py-1">
                    <strong>Spring and autumn</strong> are the <strong>best seasons</strong> to visit 
                    Barcelona. The <strong>weather is mild </strong>and the city is <strong>not as crowded</strong> as in 
                    summer. You can enjoy the city without the heat and the long lines.
                </li>
                <li class="py-1">
                    <strong>Summer</strong> is the <strong>high season for tourism</strong> in Barcelona. 
                    The city is <strong>full of life</strong> and there are <strong>any events and activities</strong> to 
                    enjoy. The <strong>weather is hot</strong> and the beaches are <strong>full of people</strong>. It is a 
                    great time to enjoy the <strong>beach and the nightlife</strong> of the city.
                </li>
                <li class="py-1">
                    <strong>Winter</strong> is the <strong>low season</strong> for tourism in Barcelona. 
                    The <strong>weather is cold</strong> and the city is <strong>less crowded</strong>. It is a great time 
                    to visit the city if you want to <strong>avoid the crowds and the high prices</strong>. 
                    You can enjoy the city without the heat and the long lines.
                </li>
            </div>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                In this guide we will show you the best places to visit in Barcelona, 
                the most popular attractions, the best beaches, the most famous 
                landmarks and the most beautiful parks. We will also give you some 
                tips and recommendations to make the most of your trip to Barcelona.
            </p>
            <div id="Sagrada Familia" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    1. Sagrada Familia
                </h3>
                <img
                    src="/barcelona/sagrada_familia.webp"
                    alt="Picture of Barcelona"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>Sagrada Familia</strong> is the most impressive and
                    symbolic building of the city. It is a <strong>must see</strong>
                    for anyone visiting Barcelona and the most visited building in Spain. 
                    The church is a <strong>masterpiece of Catalan Modernism 
                    architecture</strong>, designed by the famous architect 
                    <strong>Antoni Gaudi</strong>.
                    It is an <strong>unique and extraordinary building</strong>,
                    with <strong>unusual shapes and forms</strong>. The
                    construction of the church began in 1882 and it is still
                    <strong>unfinished</strong>. The church is
                    <strong>open to the public</strong> and you can visit it
                    every day of the year, but we recommend you to
                    <strong>book your tickets in advance</strong> to avoid losing
                    the opportunity to visit it.
                </p>
            </div>
            <div id="Park Güell" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    2. Park Güell
                </h3>
                <img
                    src="/barcelona/park_guell.webp"
                    alt="Picture of Park Güell"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>Park Güell</strong> is another masterpiece of 
                    <strong>Antoni Gaudi</strong>. It has some <strong>stunning gardens, 
                    sculptures and architectural</strong> features, filled with <strong>colorful mosaics</strong> and 
                    with some <strong>amazing panoramic views</strong> of the city. It is very popular 
                    both for locals and tourists who love to <strong>relax and enjoy the views</strong> of the city.
                </p>
            </div>
            <div id="Gothic Quarter" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    3. Gothic Quarter (Barri Gòtic)
                </h3>
                <img
                    src="/barcelona/barri_gotic.webp"
                    alt="Picture of Barri Gòtic"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    The <strong>Gothic Quarter</strong> is the <strong>oldest and most 
                    charming neighborhood</strong> of Barcelona. It is a <strong>medieval 
                    district</strong> with <strong>narrow streets, hidden squares, 
                    ancient buildings and beautiful churches</strong>. It is a great 
                    place to <strong>get lost and explore</strong> the city. You can find 
                    some of the most <strong>important landmarks</strong> of the city, 
                    such as the <strong>Cathedral of Barcelona</strong>, the <strong>Plaça 
                    Reial</strong> and the <strong>Plaça del Rei</strong>.
                </p>
            </div>
            <div id="Barceloneta Beach" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    4. Barceloneta Beach
                </h3>
                <img
                    src="/barcelona/barceloneta.webp"
                    alt="Picture of Barceloneta Beach"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>Barceloneta</strong> is the most famous and 
                    <strong>popular beach</strong> of Barcelona. It is a <strong>great place</strong> to 
                    <strong>relax and enjoy the sun</strong>, to <strong>practice 
                    water sports</strong>, to <strong>eat and drink</strong> in the <strong>many 
                    restaurants and bars</strong> of the area and to <strong>enjoy the 
                    nightlife</strong>. It is a <strong>very lively and 
                    vibrant beach</strong>, with <strong>many activities and events</strong> to 
                    enjoy.
                </p>
            </div>
            <div id="La Rambla" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    5. La Rambla
                </h3>
                <img
                    src="/barcelona/rambla.webp"
                    alt="Picture of La Rambla"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>La Rambla</strong> is the most
                    <strong>popular street</strong> of Barcelona. It is a <strong>lively and 
                    vibrant street</strong>, with <strong>many shops, restaurants, bars, 
                    street performers and artists</strong>. It is a <strong>great place</strong> to 
                    <strong>take a walk and enjoy the atmosphere</strong> of the city. You can 
                    find some of the <strong>most important landmarks</strong> of the city, 
                    such as the <strong>Boqueria Market</strong> or the <strong>Gran Teatre del 
                    Liceu</strong>.
                </p>
            </div>
            <div id="Montjuic" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    6. Montjuïc
                </h3>
                <img
                    src="/barcelona/montjuic.webp"
                    alt="Picture of Montjuïc"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>Montjuïc</strong> is a <strong>hill</strong> located in the <strong>southwest 
                    of Barcelona</strong>. It is a <strong>great place</strong> to <strong>enjoy the 
                    nature and the views</strong> of the city. To arrive, you can take a cable car up 
                    to the top or hike up. At the top you can visit the <strong>Olympic Stadium</strong>, the <strong>Montjuïc 
                    Castle</strong>, the <strong>Magic Fountain</strong> and the <strong>National Museum of Catalan Art</strong>.
                </p>
            </div>
            <div id="Poble Espanyol" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    7. Poble Espanyol
                </h3>
                <img
                    src="/barcelona/pueblo_espanyol.webp"
                    alt="Picture of Poble Espanyol"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>Poble Espanyol</strong> is an <strong>open-air museum</strong> located 
                    in the <strong>Montjuïc hill</strong>. It is a <strong>recreation of a Spanish 
                    village</strong>, with <strong>replicas of buildings, streets, squares and 
                    landmarks</strong> from all over Spain. It is a <strong>great place</strong> to 
                    <strong>learn about the Spanish culture and traditions</strong>, to <strong>enjoy 
                    the architecture and the art</strong> and to <strong>buy some souvenirs</strong>.
                </p>
            </div>
            <div id="Tibidabo" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    8. Tibidabo
                </h3>
                <img
                    src="/barcelona/tibidabo.webp"
                    alt="Picture of Tibidabo"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>Tibidabo</strong> is a <strong>mountain</strong> located in the <strong>Collserola 
                    Natural Park</strong>, in the <strong>northwest of Barcelona</strong>. It is a <strong>great 
                    place</strong> to <strong>enjoy the nature and the panoramic views</strong> of the city. At the top 
                    you can visit the <strong>Tibidabo Amusement Park</strong>, the <strong>Temple of the 
                    Sacred Heart of Jesus</strong> and the <strong>Collserola Tower</strong>.
                </p>
            </div>
            <div id="Casa Batllo" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    9. Casa Batlló
                </h3>
                <img
                    src="/barcelona/batllo.webp"
                    alt="Picture of Casa Batlló"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    <strong>Casa Batlló</strong> is also known as <strong>Casa dels ossos (House of Bones)</strong> due to 
                    its skeletal appearance. Its unique and extraordinary facade stands out on the 
                    <strong> Passeig de Gràcia</strong>, adorned with colorful mosaics made from <strong>broken ceramic tiles</strong>. 
                    Gaudi was inspired by the <strong>natural forms of the sea and the marine world</strong>, the balconies 
                    resemble seashells and the windows are like fish scales.
                </p>
            </div>
            <div id="Picasso Museum" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    10. Picasso Museum
                </h3>
                <img
                    src="/barcelona/picasso.webp"
                    alt="Picture of Picasso Museum"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    If you are an art lover, you can't miss the <strong>Picasso Museum</strong>, but even 
                    if you are not, it is a great place to visit. Here you can find over <strong>4,000 works</strong> 
                    by the <strong>Spanish artist Pablo Picasso</strong> and witness his <strong>artistic developoment</strong>, 
                    from his early years to his later works. The museum has meticulously chosen the <strong>chronological order</strong> 
                    of the works to show the <strong>evolution of Picasso's style</strong>.
                </p>
            </div>
        </div>
    </main>
</Layout>
