---
import Layout from "../layouts/Layout.astro";
import Latest_articles from "../components/Latest_articles.astro";
import Trending_countries from "../components/Trending_countries.astro";
---

<Layout
  title="Guías de viaje: descubre los mejores destinos del mundo | Guías de viaje Wanderlusting 2024"
  description="Viaja por el mundo con nuestra colección de guías de viaje completas. Encuentra información sobre los mejores lugares para visitar, consejos de viaje y recomendaciones sobre la mejor época del año para cada destino. Explora ciudades vibrantes, playas paradisíacas, paisajes impresionantes y mucho más. Planifica tu viaje perfecto con nuestras guías de viaje y vive experiencias inolvidables."
>
  <main>
    <Latest_articles />
    <Trending_countries />
  </main>
</Layout>
