---
import Layout from "../layouts/Layout.astro";
import Latest_articles from "../components/Latest_articles.astro";
import Trending_countries from "../components/Trending_countries.astro";
---

<Layout
  title="Welcome to your travel blog | Find travel guides"
  description="Uncover the hidden gems and cultural experiences of the world with our comprehensive travel guide. Explore and discover must-see attractions and plan your dream journey."
>
  <main>
    <Latest_articles />
    <Trending_countries />
  </main>
</Layout>
