---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Ibiza más allá de las fiestas: Descubre 10 joyas ocultas que te enamorarán | Guías de viaje 2024" description="Explora Ibiza más allá de su fama de fiesta. Descubre 10 sitios imprescindibles, desde sus playas paradisíacas y sus pueblos encantadores hasta sus atardeceres mágicos y rincones secretos con una atmósfera única. ¡Planifica tu viaje perfecto a Ibiza y vive experiencias inolvidables!">
    <main>
        <div
            class="w-full px-5 md:w-3/4 lg:w-2/5 md:mx-auto flex flex-col justify-start lg:gap-3 py-10"
        >
            <h1
                class="text-4xl md:text-5xl font-semibold font-title text-balance text-center"
            >
                Ibiza más allá de las fiestas:  La isla mágica que te atrapa y no te deja ir 
            </h1>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                Queridos viajeros y amantes de las aventuras sin fin
            </p>
            <img
                src="/roma.webp"
                alt="TODO: Description of the image"
                class="h-auto md:w-full aspect-video"
            />
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                TODO You may be wondering when is the best time to visit
                Barcelona, but it truly depends on what you are looking for. Our
                recommendation is:
            </p>
            <div class="w-full text-md text-pretty font-body text-lg">
                <li class="py-1">
                    <strong>Spring and autumn</strong> are the <strong
                        >best seasons</strong
                    > to visit Barcelona. The <strong
                        >weather is mild
                    </strong>and the city is <strong>not as crowded</strong> as in
                    summer. You can enjoy the city without the heat and the long
                    lines.
                </li>
                <li class="py-1">
                    <strong>Summer</strong> is the <strong
                        >high season for tourism</strong
                    > in Barcelona. The city is <strong>full of life</strong> and
                    there are <strong>any events and activities</strong> to enjoy.
                    The <strong>weather is hot</strong> and the beaches are <strong
                        >full of people</strong
                    >. It is a great time to enjoy the <strong
                        >beach and the nightlife</strong
                    > of the city.
                </li>
                <li class="py-1">
                    <strong>Winter</strong> is the <strong>low season</strong> for
                    tourism in Barcelona. The <strong>weather is cold</strong> and
                    the city is <strong>less crowded</strong>. It is a great
                    time to visit the city if you want to <strong
                        >avoid the crowds and the high prices</strong
                    >. You can enjoy the city without the heat and the long
                    lines.
                </li>
            </div>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                En este post, quiero compartir contigo mis 10 lugares favoritos
                de Roma, incluyendo 6 de los sitios más famosos y 4 joyas
                escondidas que te encantarán.
            </p>
            <h2
                class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center"
            >
                Los 6 sitios más famosos:
            </h2>
            <div id="El Coliseo Romano" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    1. El Coliseo Romano
                </h3>
                <img
                    src="/roma/coliseo_romano.webp"
                    alt="Imagen del Coliseo Romano"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    El símbolo de Roma por excelencia, imponente y majestuoso,
                    el Coliseo se alza como un testamento de la grandeza del
                    Imperio Romano. Al entrar, se siente uno transportado a una
                    era de gladiadores, batallas épicas y espectáculos que
                    cautivaban a miles de espectadores. Caminar por sus antiguas
                    gradas es viajar en el tiempo, sentir la historia viva bajo
                    tus pies. No hay palabras que hagan justicia a la emoción de
                    estar en el centro de este anfiteatro, imaginando el
                    estruendo de la multitud.
                </p>
            </div>
            <div id="La Fontana di Trevi" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    2. La Fontana di Trevi
                </h3>
                <img
                    src="/roma/fontana_trevi.webp"
                    alt="Imagen de La Fontana di Trevi"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    La Fontana di Trevi no es solo una fuente; es un universo de
                    mitos, leyendas y deseos lanzados en forma de monedas. La
                    magnificencia de sus esculturas te envuelve, mientras el
                    sonido del agua te invita a soñar. Tirar una moneda con la
                    esperanza de volver es una tradición que conecta a los
                    viajeros de todo el mundo, unidos por el deseo común de
                    regresar a Roma.
                </p>
            </div>
            <div
                id="El Vaticano y la Capilla Sixtina"
                class="text-pretty mx-auto"
            >
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    3. El Vaticano y la Capilla Sixtina
                </h3>
                <img
                    src="/roma/capilla_sixtina.webp"
                    alt="Imagen del Vaticano y la Capilla Sixtina"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Visitar el Vaticano es una experiencia espiritual, sin
                    importar tus creencias. La Plaza de San Pedro te recibe con
                    brazos abiertos, preparándote para la maravilla de la
                    Capilla Sixtina. Al contemplar los frescos de Miguel Ángel,
                    uno no puede evitar sentirse abrumado por la belleza y la
                    genialidad que abarca el techo. Es un momento de pura
                    admiración artística y espiritual.
                </p>
            </div>
            <div id="El Panteón" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    4. El Panteón
                </h3>
                <img
                    src="/roma/panteon.webp"
                    alt="Imagen del Panteón"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    El Panteón, con su majestuosa cúpula y su oculus abierto al
                    cielo, es un milagro de la ingeniería antigua. Al entrar, la
                    luz que se filtra crea un ambiente casi divino, iluminando
                    los antiguos mármoles y las tumbas de figuras históricas
                    como Rafael. La sensación de eternidad es palpable en este
                    templo dedicado a todos los dioses.
                </p>
            </div>
            <div id="Los Foros Romanos" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    5. Los Foros Romanos
                </h3>
                <img
                    src="/roma/foro_romano.webp"
                    alt="Imagen de Los Foros Romanos"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Caminar por los Foros Romanos es pasear por las páginas de
                    un libro de historia. Cada ruina, templo y vía respira los
                    relatos de la Roma Republicana y Imperial. Es un lugar para
                    perderse, contemplar y sentir la grandeza de un imperio que
                    moldeó el mundo.
                </p>
            </div>
            <div id=" La Basilica de San Pedro" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    6. La Basílica de San Pedro
                </h3>
                <img
                    src="/roma/basilica_san_pedro.webp"
                    alt="Imagen de la Basílica de San Pedro"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    La Basílica de San Pedro no solo es un lugar de profunda
                    significación religiosa; es también una obra maestra de la
                    arquitectura. Su imponente cúpula, diseñada por Miguel
                    Ángel, y su lujoso interior son un testimonio del poder y la
                    fe. Subir a la cúpula ofrece una de las vistas más
                    impresionantes de Roma.
                </p>
            </div>
            <h2
                class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center"
            >
                Las 4 joyas escondidas:
            </h2>
            <div id="Trastevere" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    7. Trastevere
                </h3>
                <img
                    src="/roma/trastevere.webp"
                    alt="Imagen de Trastevere"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Trastevere es el corazón palpitante de la Roma menos
                    turística. Sus calles empedradas, llenas de vinotecas,
                    restaurantes y pequeñas plazas, ofrecen un sabor auténtico
                    de la vida romana. Es el lugar perfecto para disfrutar de
                    una cena al aire libre, sumergiéndose en el ambiente bohemio
                    que caracteriza a este barrio.
                </p>
            </div>
            <div id="Las Catacumbas de Roma" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    8. Las Catacumbas de Roma
                </h3>
                <img
                    src="/roma/todo"
                    alt="Imagen de las Catacumbas de Roma"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Las Catacumbas de Roma ofrecen una visión única de la
                    historia cristiana temprana y de las prácticas funerarias de
                    la antigüedad. Este laberinto subterráneo de túneles y
                    tumbas es un recordatorio silencioso de la fe y la esperanza
                    que guiaban a los primeros cristianos en tiempos de
                    persecución.
                </p>
            </div>
            <div id="El Jardín de los Naranjos" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    9. El Jardín de los Naranjos
                </h3>
                <img
                    src="/roma/todo"
                    alt="Imagen del Jardín de los Naranjos"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    El Jardín de los Naranjos es uno de los secretos mejor
                    guardados de Roma. Ofrece una de las vistas panorámicas más
                    impresionantes de la ciudad, especialmente al atardecer. Es
                    un oasis de paz, con sus senderos bordeados de naranjos y
                    bancos que invitan a la reflexión y al disfrute de la
                    belleza romana.
                </p>
            </div>
            <div id="Bocca della Verita" class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    10. Bocca della Verità
                </h3>
                <img
                    src="/roma/bocca_della_verita.webp"
                    alt="Imagen de la Bocca della Verità"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    La Bocca della Verità, que en español significa "La Boca de
                    la Verdad", es uno de los monumentos más curiosos y
                    fascinantes de Roma. Se trata de una antigua máscara de
                    mármol situada en el pórtico de la Iglesia de Santa María en
                    Cosmedin. Este enorme disco de mármol, que mide
                    aproximadamente 1,75 metros de diámetro, representa una cara
                    masculina con agujeros por los ojos y una boca abierta. La
                    leyenda más famosa asociada con la Bocca della Verità es que
                    puede revelar a los mentirosos. Según cuenta la tradición,
                    si una persona miente mientras tiene su mano dentro de la
                    boca de la piedra, la boca se cerrará, cortando la mano del
                    mentiroso. Esta historia ha convertido al monumento en una
                    atracción turística muy popular, donde visitantes de todo el
                    mundo hacen fila para tomarse una foto mientras prueban su
                    veracidad. ¿Te atreves a probarla?
                </p>
            </div>
        </div>
    </main>
</Layout>
