---
import Layout from "../../../layouts/Layout.astro";
---

<Layout
    title="Ibiza más allá de las fiestas: Descubre 10 joyas ocultas que te enamorarán | Guías de viaje Wanderlusting 2024"
    description="Explora Ibiza más allá de su fama de fiesta. Descubre 10 sitios imprescindibles, desde sus playas paradisíacas y sus pueblos encantadores hasta sus atardeceres mágicos y rincones secretos con una atmósfera única. ¡Planifica tu viaje perfecto a Ibiza y vive experiencias inolvidables!"
>
    <main>
        <div
            class="w-full px-5 md:w-3/4 lg:w-2/5 md:mx-auto flex flex-col justify-start lg:gap-3 py-10"
        >
            <h1
                class="text-4xl md:text-5xl font-semibold font-title text-balance text-center"
            >
                Ibiza más allá de las fiestas: La isla mágica que te atrapa y no
                te deja ir
            </h1>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                Queridos viajeros y amantes de las aventuras sin fin, hoy os
                traigo una joya bañada por el sol que, contra todo pronóstico,
                ha logrado cautivar mi corazón y despertar mi espíritu
                aventurero de una manera que pocos lugares en el mundo han
                conseguido. Hablo de Ibiza, una isla famosa mundialmente por sus
                fiestas interminables y su vida nocturna sin igual. Sin embargo,
                tras mi reciente visita, me he dado cuenta de que Ibiza es mucho
                más que eso.
            </p>
            <p class="text-xl text-pretty py-2 font-subtitle w-full">
                Más allá de las discotecas y la fiesta, Ibiza esconde una
                esencia única que te atrapa y no te deja ir. Es una isla llena
                de contrastes, donde la tradición se mezcla con la modernidad,
                la naturaleza salvaje se funde con pueblos encantadores y la
                historia se respira en cada rincón.
            </p>
            <img
                src="/ibiza.webp"
                alt="Imagen de portada de la isla de Ibiza"
                class="h-auto md:w-full aspect-video"
            />
            <h2
                class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center py-8"
            >
                Los 6 sitios más típicos:
            </h2>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    1. Dalt Vila
                </h3>
                <img
                    src="/ibiza/dalt_vila.webp"
                    alt="Imagen de Dalt Vila"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    Empezamos nuestro viaje con el corazón histórico de Ibiza.
                    Dalt Vila, declarada Patrimonio de la Humanidad por la
                    UNESCO, es un laberinto de calles empedradas, plazas
                    acogedoras y murallas imponentes que nos cuentan historias
                    de un pasado fascinante. Caminar por Dalt Vila al atardecer,
                    con la luz dorada bañando las antiguas piedras, es como
                    viajar en el tiempo.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    2. Es Vedrà
                </h3>
                <img
                    src="/ibiza/es_vedra.webp"
                    alt="Imagen de Es Vedrà"
                    class="h-auto w-full aspect-video"
                />
                <p class="py-5 text-pretty text-lg font-body">
                    El misterioso islote, que emerge del mar frente a la costa
                    oeste de Ibiza, de Es Vedrà es uno de los lugares más
                    enigmáticos de Ibiza. Muchos le atribuyen energías
                    magnéticas y místicas. Verlo al atardecer desde Cala d'Hort
                    es una experiencia que te deja sin palabras.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    3. Playa de Ses Salines
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/playa_salinas.webp"
                        alt="Imagen de la Playa de Ses Salines"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://commons.wikimedia.org/wiki/File:Ibiza_playa_de_ses_salines_2335.jpg"
                            >Zavijavah</a
                        >, <a
                            href="https://creativecommons.org/licenses/by-sa/3.0"
                            >CC BY-SA 3.0</a
                        >, via Wikimedia Commons
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    No puedes decir que has estado en Ibiza sin visitar la Playa
                    de Ses Salines, famosa por sus aguas turquesas cristalinas y
                    su arena blanca y fina. Además de ser un lugar de encuentro
                    para amantes de la playa de todo el mundo, sus chiringuitos
                    de playa ofrecen la mejor música y gastronomía local.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    4. Mercadillo de Las Dalias
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/dalias.webp"
                        alt="Imagen del Mercadillo de Las Dalias"
                    />
                    <figcaption class="text-xs">
                        By Archivo Las Dalias. - www.lasdalias.es, <a
                            href="https://creativecommons.org/licenses/by-sa/4.0"
                            title="Creative Commons Attribution-Share Alike 4.0"
                            >CC BY-SA 4.0</a
                        >, <a
                            href="https://commons.wikimedia.org/w/index.php?curid=75553561"
                            >Link</a
                        >
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Un paraíso para los amantes de lo bohemio y lo artesanal.
                    Las Dalias es más que un mercadillo; es un festival de
                    colores, sabores y sonidos. Aquí encontrarás desde ropa y
                    joyas únicas hasta obras de arte y productos locales.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    5. Café del Mar
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/cafe_mar.webp"
                        alt="Imagen de la Playa de Ses Salines"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://commons.wikimedia.org/wiki/File:Sunset_Caf%C3%A9_del_Mar_Ibiza_1.jpg"
                            >Café del Mar</a
                        >, <a
                            href="https://creativecommons.org/licenses/by-sa/4.0"
                            >CC BY-SA 4.0</a
                        >, via Wikimedia Commons
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Famoso por sus puestas de sol y su ambiente chill-out, Café
                    del Mar es el lugar perfecto para relajarse después de un
                    día explorando la isla. La música, el ambiente y la vista al
                    mar crean una experiencia inolvidable.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    6. Cala Comte
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/cala_comte.webp"
                        alt="Imagen de la Playa de Ses Salines"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://commons.wikimedia.org/wiki/File:Eivissa_-_Cala_Comte.jpg"
                            >Enrique Ayesta Perojo</a
                        >, <a
                            href="https://creativecommons.org/licenses/by-sa/4.0"
                            >CC BY-SA 4.0</a
                        >, via Wikimedia Commons
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Con sus aguas turquesas, vistas espectaculares e
                    impresionantes atardeceres, Cala Comte es, sin duda, una de
                    las playas más bellas de Ibiza. El contraste del azul del
                    mar con los tonos rojizos del atardecer crea un paisaje de
                    ensueño para relajarse y disfrutar de la belleza natural de
                    la isla.
                </p>
            </div>
            <h2
                class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center"
            >
                Las 4 joyas menos conocidas:
            </h2>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    7. Sa Caleta
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/sa_caleta.webp"
                        alt="Imagen de la Playa de Ses Salines"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://commons.wikimedia.org/wiki/File:Cala_Sa_Caleta.JPG"
                            >Javiwapo</a
                        >, <a
                            href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en"
                            >CC BY-SA 3.0 ES</a
                        >, via Wikimedia Commons
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Este antiguo asentamiento fenicio, menos conocido pero de
                    gran importancia histórica, ofrece una mirada única al
                    pasado de la isla. Las ruinas y la playa cercana hacen de
                    este lugar un sitio perfecto para explorar.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    8. Can Marçà
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/can_marca.webp"
                        alt="Imagen de la Playa de Ses Salines"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://www.flickr.com/photos/harby/8124684198"
                        >
                            PeacockArmageddon</a
                        >, <a
                            href="https://creativecommons.org/licenses/by-nd/2.0/"
                            >CC BY-ND 2.0 Deed</a
                        >, via Flickr
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Una cueva escondida en el norte de Ibiza, donde estalactitas
                    y estalagmitas crean un escenario casi lunar. Las visitas
                    guiadas te llevan por un viaje a través de la geología y la
                    historia de la isla.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    9. Puig de Missa
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/puig_missa.webp"
                        alt="Imagen de la Playa de Ses Salines"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://commons.wikimedia.org/wiki/File:Puig_de_Missa.JPG"
                            >Hans Bernhard (Schnobby)</a
                        >, <a
                            href="https://creativecommons.org/licenses/by-sa/3.0"
                            >CC BY-SA 3.0</a
                        >, via Wikimedia Commons
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Este tranquilo pueblo, con su iglesia blanquecina en lo alto
                    de una colina, ofrece unas vistas panorámicas de la isla que
                    son simplemente impresionantes. Es un lugar de paz y
                    serenidad.
                </p>
            </div>
            <div class="text-pretty mx-auto">
                <h3
                    class="text-3xl font-semibold mb-3 border-b-2 font-subtitle"
                >
                    10. Atlantis
                </h3>
                <figure class="h-auto w-full aspect-video">
                    <img
                        src="/ibiza/atlantis.webp"
                        alt="Imagen de la Playa de Ses Salines"
                    />
                    <figcaption class="text-xs">
                        <a
                            href="https://commons.wikimedia.org/wiki/File:Ibiza,_%22Atlantis%22_where_rock_was_mined_for_walls_hundreds_of_years_ago._-_panoramio_(1).jpg"
                            >~ souTH AFRica ~</a
                        >, <a href="https://creativecommons.org/licenses/by/3.0"
                            >CC BY 3.0</a
                        >, via Wikimedia Commons
                    </figcaption>
                </figure>
                <p class="py-5 text-pretty text-lg font-body">
                    Por último, pero no menos importante, está Atlantis, un
                    lugar secreto conocido principalmente por los locales. No es
                    fácil llegar, pero una vez allí, las formaciones rocosas
                    naturales y las piscinas de agua salada te recompensan con
                    uno de los paisajes más impresionantes de Ibiza.
                </p>
                <h2
                    class="text-2xl md:text-3xl font-semibold font-subtitle text-balance text-center pt-4 pb-2 border-t-2"
                >
                    Consejos útiles para tu viaje a Ibiza:
                </h2>
                <div class="text-pretty mx-auto">
                    <li class="text-pretty text-lg font-body">
                        Ibiza es una isla pequeña que se puede recorrer
                        fácilmente en coche o moto
                    </li>
                    <li class="text-pretty text-lg font-body">
                        Si buscas fiesta, la zona de Playa d'en Bossa y Sant
                        Antoni son ideales
                    </li>
                    <li class="text-pretty text-lg font-body">
                        La mejor época para visitarla es entre mayo y octubre,
                        cuando el clima es cálido y soleado
                    </li>
                    <li class="text-pretty text-lg font-body">
                        Si buscas tranquilidad, las calas del norte y el
                        interior de la isla son perfectas
                    </li>
                    <li class="text-pretty text-lg font-body">
                        No te olvides de probar la gastronomía ibicenca, rica en
                        pescado fresco, paellas y tapas
                    </li>
                </div>
            </div>
        </div>
    </main>
</Layout>
