<footer class="w-full flex flex-col justify-center items-center py-4">
    <p class="text-black text-sm">© Wanderlusting | All rights reserved</p>
    <p class="text-black text-sm"><a href="#">Cookies</a>| Made by DSB</p>
</footer>