<header id="navbar" class="fixed top-0 left-0 z-50 w-full">
    <div class="max-sm:hidden" >
        <nav class="flex justify-between py-1">
            <section class="w-fit flex-1 py-2">
                <div class="w-fit mx-auto">
                    <a href="/" class="text-white font-display text-4xl"
                        >Wanderlusting
                    </a>
                </div>
            </section>
            <ul class="flex-1 flex justify-end items-center text-white text-lg font-semibold w-fit font-body">
                <li class="mr-5">
                    <a href="/" class="">Home</a>
                </li>
                <li class="mx-5">
                    <a href="#" class="">Countries</a>
                </li>
                <li class="mx-5">
                    <a href="#" class="">Servicios</a>
                </li>
        </nav>
    </div>

    <section id="mobile" class="sm:hidden w-full pt-2 flex justify-around items-center">
        <button id="menu" class="w-8 h-8 pl-4 text-white">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-menu-2"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 6l16 0"></path>
                <path d="M4 12l16 0"></path>
                <path d="M4 18l16 0"></path>
            </svg>
        </button>
        <section class="w-fit flex-1 py-2">
            <div class="w-fit mx-auto">
                <a href="/" class="text-white font-display text-4xl"
                    >Wanderlusting
                </a>
            </div>
        </section>
        <nav
            id="nav"
            class="hidden absolute top-14 left-0 h-96 w-1/3 z-10 animate-slide-in-left animate-duration-200 rounded-md bg-white bg-opacity-80 shadow-2xl"
        >
            <a href="/" class="block px-2 py-3 font-body text-md border-b-2 border-black text-center">Home</a>
            <a href="#" class="block px-2 py-3 font-body text-md border-b-2 border-black text-center">Countries</a>
            <a href="#" class="block px-2 py-3 font-body text-md border-b-2 border-black text-center">Servicios</a>
        </nav>
    </section>

    <script>
        const menu = document.getElementById("menu");
        const nav = document.getElementById("nav");
        menu.addEventListener("click", () => {
            nav.classList.toggle("hidden");
        });
    </script>
</header>