---
---

<section class="relative h-[600px] sm:h-80">
    <div
        id="desktop"
        class="w-full h-full"
    >
        <img
            src="/header_pc.webp"
            alt="Header image for desktop browser"
            class="w-full h-full object-cover max-sm:hidden"
        />

        <img
            src="/header_movil.webp"
            alt="Header image for mobile phone"
            class="w-full h-full object-cover sm:hidden"
        />
    </div>
    <div class="absolute top-[140px] px-5 left-0 w-full h-fit">
        <div class="flex flex-col justify-center items-center w-fit h-auto bg-black bg-opacity-20 px-2 py-4 rounded-xl mx-auto max-w-[440px]">
            <h1 class="text-white text-xl sm:text-2xl font-bold text-balance text-center">
                Welcome to <span class="font-display font-regular">Wanderlusting</span>
            </h1>
            <p class="text-white text-md sm:text-lg font-light text-pretty text-center">
                Enjoy the best travel experiences with our guides and discover the best places to visit all around the world.
            </p>
        </div>
    </div>
</section>
