<section class="xl:w-2/3 lg:mx-auto px-4 md:px-7 py-10 w-full">
    <h2 class="text-2xl pb-5">Latest articles</h2>
    <section
        class="w-full flex max-md:flex-nowrap justify-between max-md:overflow-scroll max-md:gap-3 md:flex-wrap md:justify-around md:gap-x-5"
    >
        <a href="en/seasons/summer">
            <article class="pb-6 w-80">
                <img
                    src="summer_1.webp"
                    alt="Image of people going to the beach"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Encuentra los mejores destinos de verano para cada viajero en 2024</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Planifica tus vacaciones perfectas en uno de estos destinos asombrosos</h4>
                <p class="text-sm text-pretty pt-1">
                    Descubre ciudades de todo el mundo y disfruta del mejor verano de tu vida. Barcelona, 
                    Mykonos, Ibiza, Cancún y muchas más.
                </p>
            </article>
        </a>
        <a href="/paises/barcelona">
            <article class="pb-6 w-80">
                <img
                    src="barcelona.webp"
                    alt="Imagen de la ciudad de Barcelona"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Descubre los 10 mejores lugares de Barcelona con esta guía definitiva</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Encuentra los mejores lugares que puedes visitar en una de las ciudades más hermosas de España</h4>
                <p class="text-sm text-pretty pt-1">
                    Barcelona es una ciudad llena de historia, tradiciones, cultura y lugares increíbles para visitar. Descubre cuál es la mejor época para venir a esta maravillosa ciudad y toma nota de los mejores lugares que puedes encontrar.
                </p>
            </article>
        </a>
        <a href="/paises/espana/ibiza">
            <article class="pb-6 w-80">
                <img
                    src="/ibiza.webp"
                    alt="Imagen del paisaje de Ibiza"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Ibiza más allá de las fiestas: La isla mágica que te atrapa y no te deja ir</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Más allá de las discotecas y la fiesta, Ibiza esconde una esencia única que te atrapa</h4>
                <p class="text-sm text-pretty pt-1">
                    Encuentra en este artículo los mejores lugares que puedes visitar en Ibiza, desde playas paradisíacas hasta pueblos con encanto. Podrás encontrar 6 sitios mas típicos y 4 joyas menos conocidas
                </p>
            </article>
        </a>
        <a href="/paises/francia/paris">
            <article class="pb-6 w-80">
                <img
                    src="/paris.webp"
                    alt="Imagen de la ciudad de París"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Descubriendo la Magia de París: Una Mezcla de Clásico y Secreto</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Un lugar donde cada esquina parece un escenario listo para ser descubierto, y donde la belleza y el arte se respiran en el aire</h4>
                <p class="text-sm text-pretty pt-1">
                    Descubre los lugares más emblemáticos de París, así como los rincones más secretos y desconocidos de la ciudad. París esconde una magia que no te puedes perder
                </p>
            </article>
        </a>
        </a>
        <a href="/paises/italia/roma">
            <article class="pb-6 w-80">
                <img
                    src="/roma.webp"
                    alt="Imagen de la ciudad de Roma"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Encantos Eternos de Roma: Un Viaje a Través de la Historia y la Belleza Oculta</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Roma es una ciudad donde el pasado y el presente se entrelazan</h4>
                <p class="text-sm text-pretty pt-1">
                    Encontrarás aquí los mejores lugares que puedes visitar en esta maravillosa ciudad, incluyendo los lugares más emblemáticos y los rincones más secretos y desconocidos
                </p>
            </article>
        </a>
        <a href="/">
            <article class="pb-6 w-80">
                <img
                    src="/japon.webp"
                    alt="Japanese view picture"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-lg text-balance">Titulo articulo</h3>
                <h4 class="text-md text-balance">Subtitulo</h4>
                <p class="text-sm text-pretty">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                </p>
            </article>
        </a>
    </section>
</section>
