<section class="xl:w-2/3 lg:mx-auto px-4 md:px-7 py-10 w-full">
    <h2 class="text-2xl pb-5">Latest articles</h2>
    <section
        class="w-full flex max-md:flex-nowrap justify-between max-md:overflow-scroll max-md:gap-3 md:flex-wrap md:justify-around md:gap-x-5"
    >
        <a href="/seasons/summer">
            <article class="pb-6 w-80">
                <img
                    src="summer_1.webp"
                    alt="Image of people going to the beach"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-xl font-title text-balance py-2">Top Summer Destinations for Every Traveler in 2024</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Plan your perfect holidays in one of those astonishing destinations</h4>
                <p class="text-sm text-pretty pt-1">
                    Discover cities from all around the world and enjoy the best summer of your life. Barcelona, 
                    Mykonos, Ibiza, Cancun and many more.
                </p>
            </article>
        </a>
        <a href="/countries/spain/barcelona">
            <article class="pb-6 w-80">
                <img
                    src="barcelona.webp"
                    alt="Picture of Barcelona"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-xl font-title text-balance py-2">Discover the most amazing places of Barcelona</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Find the best places you can visit in one of the most beautiful cities of Spain</h4>
                <p class="text-sm text-pretty pt-1">
                    Barcelona is a city full of history, traditions, culture and amazing places to visit. Find out when is the best time to visit this marvelous city and take notes of the best places you can find.
                </p>
            </article>
        </a>
        <a href="/">
            <article class="pb-6 w-80">
                <img
                    src="/japon.webp"
                    alt="Japanese view picture"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-lg text-balance">Titulo articulo</h3>
                <h4 class="text-md text-balance">Subtitulo</h4>
                <p class="text-sm text-pretty">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                </p>
            </article>
        </a>
        <a href="/">
            <article class="pb-6 w-80">
                <img
                    src="/japon.webp"
                    alt="Japanese view picture"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-lg text-balance">Titulo articulo</h3>
                <h4 class="text-md text-balance">Subtitulo</h4>
                <p class="text-sm text-pretty">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                </p>
            </article>
        </a>
        <a href="/">
            <article class="pb-6 w-80">
                <img
                    src="/japon.webp"
                    alt="Japanese view picture"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-lg text-balance">Titulo articulo</h3>
                <h4 class="text-md text-balance">Subtitulo</h4>
                <p class="text-sm text-pretty">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                </p>
            </article>
        </a>
        <a href="/">
            <article class="pb-6 w-80">
                <img
                    src="/japon.webp"
                    alt="Japanese view picture"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-lg text-balance">Titulo articulo</h3>
                <h4 class="text-md text-balance">Subtitulo</h4>
                <p class="text-sm text-pretty">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                </p>
            </article>
        </a>
    </section>
</section>
