<section class="xl:w-2/3 lg:mx-auto px-4 md:px-7 py-10 w-full">
    <h2 class="text-2xl pb-5">Latest articles</h2>
    <section
        class="w-full flex max-md:flex-nowrap justify-between max-md:overflow-scroll max-md:gap-3 md:flex-wrap md:justify-around md:gap-x-5"
    >
        <a href="en/seasons/summer">
            <article class="pb-6 w-80">
                <img
                    src="/summer_1.webp"
                    alt="Image of people going to the beach"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Encuentra los mejores destinos de verano para cada viajero en 2024</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Planifica tus vacaciones perfectas en uno de estos destinos asombrosos</h4>
                <p class="text-sm text-pretty pt-1">
                    Descubre ciudades de todo el mundo y disfruta del mejor verano de tu vida. Barcelona, 
                    Mykonos, Ibiza, Cancún y muchas más.
                </p>
            </article>
        </a>
        <a href="en/countries/spain/barcelona">
            <article class="pb-6 w-80">
                <img
                    src="/barcelona.webp"
                    alt="Picture of Barcelona"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Discover the top 10 places in Barcelona with this ultimate guide</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Find the best places you can visit in one of the most beautiful cities in Spain</h4>
                <p class="text-sm text-pretty pt-1">
                    Barcelona is a city full of history, traditions, culture and incredible places to visit. Discover the best time to come to this wonderful city and take note of the best places you can find.
                </p>
            </article>
        </a>
        <a href="/en/countries/spain/ibiza">
            <article class="pb-6 w-80">
                <img
                    src="/ibiza.webp"
                    alt="Image of Ibiza landscape"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Ibiza beyond the parties: The magical island that makes you fall in love and doesn't let you go</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Beyond the nightclubs and the party, Ibiza hides an unique essence that captivates you</h4>
                <p class="text-sm text-pretty pt-1">
                    Find in this article the best places you can visit in Ibiza, from paradisiacal beaches to charming villages. You will find 6 more typical places and 4 lesser-known gems.
                </p>
            </article>
        </a>
        <a href="/en/countries/france/paris">
            <article class="pb-6 w-80">
                <img
                    src="/paris.webp"
                    alt="Image of the city of Paris"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Discovering the Magic of Paris: A Blend of Classic and Secret</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">A place where every corner makes you discover the beauty and art that are in the air</h4>
                <p class="text-sm text-pretty pt-1">
                    Discover the most emblematic places in Paris, as well as the most secret and unknown corners of the city. Paris hides a magic that you can't miss.
                </p>
            </article>
        </a>
        </a>
        <a href="/en/countries/italy/rome">
            <article class="pb-6 w-80">
                <img
                    src="/roma.webp"
                    alt="Image of the city of Rome"
                    class="w-80 h-40 rounded-lg hover:scale-105 hover:duration-500 hover:ease-in-out"
                />
                <h3 class="text-xl font-title text-balance py-2">Eternal Charms of Rome: A Journey Through its History and Hidden Beauty</h3>
                <h4 class="text-lg font-subtitle text-pretty border-y-2 leading-6">Rome is a city where the past and the present intertwine</h4>
                <p class="text-sm text-pretty pt-1">
                    Here you will find the best places you can visit in this wonderful city, including the most emblematic places and the most secret and unknown corners
                </p>
            </article>
        </a>
        <a href="/">
            <article class="pb-6 w-80">
                <img
                    src="/japon.webp"
                    alt="Japanese view picture"
                    class="w-80 h-40 rounded-lg"
                />
                <h3 class="text-lg text-balance">Titulo articulo</h3>
                <h4 class="text-md text-balance">Subtitulo</h4>
                <p class="text-sm text-pretty">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                </p>
            </article>
        </a>
    </section>
</section>
