---
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;


import Imagen from '../components/Imagen.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// Supports weights 100-900
import '@fontsource-variable/montserrat';
import '@fontsource/anton';
import '@fontsource/pt-sans';
import '@fontsource/lobster';
import '@fontsource/spectral';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" initial-scale="1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2196631003345147" crossorigin="anonymous"></script>
	</head>
	<body>
		<Header />
		<Imagen />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		background: FEFEFC;
		width: 100%vw;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	#navbar {
		animation: blur linear both;
		animation-timeline: scroll();
		animation-range:0 600px;
	}
	@keyframes blur {
		to {
			box-shadow: 
			0, 5px, 50px, -5px rgba(0, 0, 0, 0.1),
			0, 0, 0, -5px rgba(0, 0, 0, 0.3);
			background: rgba(0,0,0,0.2);
			backdrop-filter: blur(5px);
		}
	}

</style>
